
.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/JahanFramework.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/dictionaries/emadr.xml
jahan/__pycache__/VectorArithmetic.cpython-37.pyc
jahan/__pycache__/VectorArithmetic.cpython-37.pyc
jahan/__pycache__/AreaClasses.cpython-37.pyc
jahan/__pycache__/Drawing.cpython-37.pyc
jahan/__pycache__/JahanToolbox.cpython-37.pyc
jahan/__pycache__/VectorArithmetic.cpython-37.pyc
*.pyc
*.pyc
